<!DOCTYPE html>
<html>
<head>
  <title>Trainmaster</title>
  <%= stylesheet_link_tag    "trainmaster/application", media: "all" %>
  <%= javascript_include_tag "trainmaster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
